torch
opencv-python
tqdm
albumentations
matplotlib
numpy<2
torchvision
transformers
h5py
segmentation_models_pytorch
warmup_scheduler
einops==0.6.1
monai==1.1.0
efficientnet_pytorch
scikit-learn
pandas
pillow